@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans');

/*temporal:
solo para efectos de pruebas de diseño*/
body {
    background-color: #f3f3f3;
}
img {
    max-width: 100%;
}
.col {
    padding-left: 16px;
    padding-right: 16px;
}
.micrositio {
    background-color: white;
    padding: 64px;
    font-family: 'Alegreya', serif;
    width: 100%;

    /*temporales*/
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
}
.title-top {
    font-size: 48px;
}
.title-lic {
    font-size: 64px;
}
.reconocimientos {
    margin-top: 64px;
    margin-bottom:  64px;
}
.title-reconocimientos {
    font-size: 24px;
    margin-bottom: 32px;
}
.title-individual {
    font-size: 16px;
    margin-bottom: 16px;
}
.img-reconocimiento {
    width: 320px;
    box-shadow: 0 4px 8px #000000;
}
.titulos {
    font-size: 24px;
    margin-bottom: 16px;
}
.secciones {
    padding: 16px;
}
.contenidos {
    font-size: 16px;
}