@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans');

/*temporal:
solo para efectos de pruebas de diseño*/
body {
    background-color: #f3f3f3;

    overflow: hidden;
}
.miniBODY{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;
}
img {
    max-width: 100%;
}
a {
    text-decoration:  none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: #C78D2A;
    transition-duration: 0.3s;
}
.col {
    padding-left: 16px;
    padding-right: 16px;
}
.micrositio {
    background-color: white;
    padding: 32px 32px 16px 32px;
    font-family: 'Alegreya', serif;
    width: 100%;

    /*temporales*/
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
}
.title-top {
    font-size: 32px;
}
.title-lic {
    font-size: 40px;
}
.reconocimientos {
    margin-top: 64px;
    margin-bottom: 64px;
}
.title-reconocimientos {
    font-size: 24px;
    margin-bottom: 32px;
}
.title-individual {
    font-size: 16px;
    margin-bottom: 24px;
}
.img-reconocimiento {
    /*width: 320px;*/
    width: 278px;
    height: 198px;
    box-shadow: 0 4px 8px #000000;
    margin-bottom: 32px;
}
.titulos {
    font-size: 24px;
    margin-bottom: 16px;
}
.secciones {
    padding: 16px;
    margin-bottom: 32px;
}
.contenidos {
    font-size: 16px;
    max-width: 100%;
}
.link-detalles {
    margin-top: 24px;
}
.documentacion {
    margin-top: 32px;
}
.medianil {
    margin-right: 64px;
}
.card-pdf {
    box-shadow: 0 4px 8px #000000;
    padding: 16px;
    margin-bottom: 32px;
    width: 215px;
    height: 288px;
}
.img-logo {
    margin-bottom: 64px;
}
.icono-pdf {
    margin-left: 24px;
}
.title-pdf {
    font-size: 24px;
    margin-bottom: 64px;
    height: 98px;
}
.title-pdf-card {
    font-size: 24px;
}
.descargar {
    position: absolute;
    bottom: 32px;
}
.grow:hover
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.4s;
}
.ver-mas {
    position: absolute;
    bottom: 0px;
}
.modalSIZE{
    width: 90vw;
    max-height: 90vh;

}
.modalTITULO{
    font-family: Alegreya;
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    padding-left: 24px;
    padding-top: 24px;
}
.modalBODY{
    font-family: Alegreya;
    text-align: left;
    font-size: 18px;
}
.modalFOOT{
    background-color: white;
}
.modalCLOSE{
    background-color: white;
    float: right;
    font-family: Alegreya Sans;
    font-size: 24px;
    text-align: center;
    kerning: 3.57%;
}

.resetCSS {
  all: initial;
  * {
    all: unset;
}
}